<div class="row">
    <div class="col-sm-4">
        <a href="/admin/profile-admin" class="btn btn-default" role="button">Back to Admin</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Table Users</h2>

        <div class="panel panel-default">
            <div class="panel-heading">Users Info</div>
            <div class="panel-body">
                <table id="product" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    {{# each users}}
                    <tbody>
                        <tr>
                            <td class="col-4 col-sm-1">
                                {{ this._id }}
                            </td>
                            <td class="col-4 col-sm-3">
                                {{ this.email }}
                            </td>
                            <td>
                                {{ this.password }}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>