<footer class="footer bg-info">
    <div class="container-fluid">       
            <div class="col-md-11">               
                        <h4 class="media-heading text-center">Sole-Klab</h4>
                            <p class="text-center">www.soleklab.com</p>    
                            <p class="text-center">Any kind of needs</p>  
                            <p class="text-center">Skate, Running, Casuals, etc</p>  
                </div>
            </div>
             <div class="row">
                   <div class="col-sm-4"><a class="list-group-item">
                     <span class="glyphicon glyphicon-earphone"> </span> +62-822-9819-7248</a></div>
                   <div class="col-sm-4"><a class="list-group-item">
                     <span class="glyphicon glyphicon-envelope"> </span> info@soleklab.co.id</a></div>
                   <div class="col-sm-4"> <a class="list-group-item" href="/admin/admin-login/">
                     <span class="glyphicon glyphicon-user"> </span> Admin Login</a></div>
                    </div> 
            </div>
        <div class="text-center">
            <div class="col-md-11">
                <strong> &copy; 2019 Sole-Klab</strong>
            </div>
        </div>
    </div>
</footer>